<h1>Rental Cars</h1>

<h2>Bem vindo ao sistema de gestão de locação</h2>



<p><%= l Date.today %></p>

<%= link_to 'Fabricantes', manufacturers_path%>
<%= link_to 'Registrar nova categoria de carro', new_car_category_path%>
<%= link_to 'Modelos de Carros', car_models_path%>
<%= link_to 'Locações', rentals_path%>

