<h1>Locações</h1>

<%= form_with url: search_rentals_path, local: true, method: :get  do |f| %>
  <%= f.label :q, 'Busca' %>
  <%= f.text_field :q %>
  <%= f.submit 'Pesquisar' %>
<% end %>

<%= link_to 'Registrar locação', new_rental_path %>

<% @rentals.each do |rental| %>
  <div>
    <p>
      <strong>Código:</strong> <%= rental.code %>
    </p>
    <p>
      <strong><%= Rental.human_attribute_name(:start_date) %>:</strong> <%= l rental.start_date %>
    </p>
    <p>
      <strong>Data final:</strong> <%= l rental.end_date %>
    </p>
    <p>
      <strong>Cliente:</strong> <%= rental.client.identification %>
    </p>
    <p>
      <strong>Categoria:</strong> <%= rental.car_category.name %>
    </p>
  </div>
<% end %>