<dl>
  <dt>Código</dt>
  <dd><%= @rental.code %>
  <dt>Categoria</dt>
  <dd><%= @rental.car_category.name %></dd>
  <dt>Status</dt>
  <dd><%= I18n.translate @rental.status %>
  <dt>Cliente</dt>
  <dd><%= @rental.customer.name %>
</dl>

<% if @rental.ongoing? %>
  <h2> Dados da Locação </h2>
  <dl>
    <dt>Horário da Retirada:</dt>
    <dd><%= I18n.localize @rental.car_rental.start_date, format: :custom %></dd>
    <dt>Usuário Responsável:</dt>
    <dd><%= @rental.car_rental.user.email %>
    <dt>Carro Retirado:</dt>
    <dd><%= @rental.car_rental.car.description %>
    <dt>Valor da Diária:</dt>
    <dd><%= number_to_currency @rental.car_rental.daily_rate %>
  </dl>
  <h2>Acessórios Contratados</h2>
  <% @rental.car_rental.add_ons.each do |add_on| %>
    <%= add_on.name%>
  <% end %>
<% end %>