<h1>Confirmar Início de Locação</h1>
<dl>
  <dt>Código</dt>
  <dd><%= @rental.code %>
  <dt>Categoria</dt>
  <dd><%= @rental.car_category.name %></dd>
</dl>
<%= form_with(model: @car_rental, local: true) do |f|%>
  <%= f.hidden_field :rental_id, value: @rental.id %>
  <%= f.label :car_id %>
  <%= f.collection_select :car_id, @available_cars, :id, :description %>
  <%= f.collection_check_boxes :add_on_ids, @add_ons, :id, :name %>
  <%= f.submit 'Confirmar' %>
<% end %>
